useDynLib(rdsmart, .registration=TRUE)
importFrom("Rcpp", sourceCpp)
importFrom("mlr3", lrn, TaskClassif)
importFrom("gtools", rdirichlet)
importFrom(magrittr, "%>%")
importFrom("terra", terraOptions)
importMethodsFrom("terra", "[[", Arith, Math, Math2, mean, predict, extract, nlyr, writeRaster, rast, as.data.frame, subset, levels)

export(disaggregate)
export(summarise)
export(dsmart)
export(order_stack_values)
export(sort_stack_values)
export(confusion_index)
export(shannon_entropy)